@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

.review{
background-color: #0A0B1A;
border: 2px solid #E5AF56;
box-sizing: border-box;
border-radius: 16px;
width:360px;
height:248px;
box-shadow: 10px -10px rgba(82, 147, 232, 1);
}

.details-nc{
    margin-left: 20px;
}

.user-img{
    width: 48px;
    height: 48px;
    margin-top: 30px;
}

.details{
    display: flex;
    margin-left: 20px;
}

.user-name{
    color:white;
    margin-top: 20px;
    font-family: 'Quattrocento', serif;
    padding-top: 10px;
    font-size:1.2rem;
}

.user-city{
    color: rgba(229, 197, 88, 1);
    font-family: Nunito;
    font-size:0.9rem;
    margin-top:-15px;
}

.user-comment{
    color:white;
    width: 300px;
    font-family: Nunito;
    margin-left: 10px;
    margin-top: 10px;
    font-style: normal;
}